<%= form_for @organisation do |f| %>

  <% if @organisation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organisation.errors.count, "error") %> prohibited this organisation from being saved:</h2>

      <ul>
      <% @organisation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.text_field :name, placeholder: "Name your magazine" %>
  </p>

  <p>
    <%= f.label :url, "Choose a domain name" %>
    <%= f.text_field :url, placeholder: "wired" %><span class="suffix">.<%= request.host %></span>
  </p>

  <button>Create the magazine</button>

<% end %>