<%= form_for @organisation do |f| %>

  <% if @organisation.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @organisation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.text_field :name, placeholder: "Name your magazine" %>
  </p>

  <p>
    <%= f.label :url, "Choose a domain name" %>
    <%= f.text_field :url, placeholder: "wired" %><span class="suffix">.<%= request.host %></span>
  </p>

  <p>
    <button>Create the magazine</button>
    or
    <%= link_to "Cancel", '#', data: { behavior: "cancel_start_magazine" } %>
  </p>

<% end %>