<div class="header_wrapper">
  <header>

    <h1>
      <%= @organisation.name %>
    </h1>

    <nav>
      <%= link_to 'Manage issues', '#', data: { behavior: 'manage_issues' }, class: 'button' %>
      <%= link_to issues_path, class: 'button', method: :create do %>
        <i class="icon-plus"></i> New issue
      <% end %>
    </nav>
  </header>
</div>

<section class="issues">

  <% @issues.each_slice(4) do |issue_row| %>
    <div class="issue_row">
      <div class="issue_container">
      <% issue_row.each do |issue| %>
        <article class="issue">
          <%= link_to issue_path(issue) do %>
            <section class="cover" style="background-image: url(<%= issue.preview_image_url %>)">
            </section>
            <h1><%= issue.name %></h1>
          <% end %>
          <section class="issue_actions">
            <%= link_to "Edit", issue_pages_path(issue), class: 'button' %>
          </section>
        </article>
      <% end %>
      </div>
    </div>
  <% end %>

</section>