<section class="issues">
  <%= link_to 'Manage issues', issues_path, class: 'button', style: 'float: right' %>

  <h1>
    <%= @organisation.name %>
  </h1>

  <% @issues.each do |issue| %>
    <%= link_to issue_path(issue), class: 'issue' do %>
      <section class="cover" style="background-image: url(<%= issue.preview_image_url %>)">
      </section>
      <h1><%= issue.name %></h1>
    <% end %>
  <% end %>

</section>