<section class="page_actions">
  <%= link_to issue_page_path(@issue, @page), method: :delete, confirm: 'Do you want to remove this page?', class: 'button' do %>
    <i class="icon-remove icon-large"></i> Remove this page
  <% end %>
  <div id="saving" class="saving_in_progress">
    <i class="icon-rotate-right icon-spin"></i> Saving...
  </div>
  <%= form_for [ @issue, @page ], html: { multipart: true, class: "upload-background-image" }, remote: true do |f| %>
    <%= fa_icon "camera" %> Background Image
    <%= f.file_field :background_image %><br/>
    <%= f.submit "Upload", class: "button", disable_with: "Uploading..." %>
  <% end %>
</section>

<section class="editor_canvas">

  <article class="page">

    <%= form_for [ @issue, @page ], remote: true do |f| %>
      <% page_background = ( @page.background_image.exists? ? "url('#{image_url @page.background_image(:fitting)}')" : "#fff" ) %>
      <%= f.text_area :body, class: 'editor', resize: 'none', style: ( "background:#{page_background};" ) %>
    <% end %>

  </article>

</section>

<script type="text/javascript">
$(document).ready(function() {
  $('textarea#page_body').typeWatch({
    callback: function(value) {
      $('#saving').addClass('visible');
      $(this.form).trigger('submit.rails');
    },
    captureLength: 0,
    highlight: false
  })
})
</script>