<!DOCTYPE html>
<html>
<head>
  <title>Flipsum - Publish iPad magazines</title>
  <%= stylesheet_link_tag    "frontpage", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header_wrapper">
  <header class="container">
    <h1>Flipsum</h1>
  </header>
</div>

<div class="introduction_wrapper" style="position: relative; width: 100%;">
  <div class="introduction_background" style="background-image: url(/assets/intro.png); position: absolute; top:0; left: -5px; right: -5px; bottom: 0; z-index: -1; background-repeat: no-repeat; background-position: 50% 10%; background-size: cover;"></div>
  <section class="container introduction" style="height: 400px;">
    <h1>Create and publish beautiful iPad magazines</h1>

    <div class="get_started">
      <% render "organisations/form" %>
    </div>
  </section>
</div>

<div class="samples_wrapper">

  <section class="container examples">
    <header>
      <h1>Created with<br /> Flipsum</h1>
      <p>View these on your iPad or iPad Mini</p>
    </header>
    <% Issue.limit(10).each do |issue| %>
      <%= link_to "http://#{issue.organisation.url}", class: 'article' do %>
        <div class="cover" style="background-image: url(<%= issue.preview_image_url %>)"></div>
        <h1><%= issue.organisation.name %></h1>
      <% end %>
    <% end %>
  </section>

</div>

</body>
</html>
