<!DOCTYPE html>
<html>
<head>
  <title>Flipsum - Publish iPad magazines</title>
  <%= stylesheet_link_tag    "frontpage", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header_wrapper">
  <header class="container">
    <h1>Flipsum</h1>
  </header>
</div>

<section class="container introduction">
  <h1>Create and publish beautiful iPad magazines</h1>

  <p class="get_started">
    <%= render "organisations/form" %>
  </p>
</section>

<div class="samples_wrapper" style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin-top: 20px;">

  <section class="container examples">
    <h1>Created with<br /> Flipsum</h1>
    <% Issue.limit(10).each do |issue| %>
      <%= link_to "http://#{issue.organisation.url}", class: 'article' do %>
        <div class="cover" style="background-image: url(<%= issue.preview_image_url %>)"></div>
        <h1><%= issue.organisation.name %></h1>
      <% end %>
    <% end %>
  </section>

</div>

</body>
</html>
