<!DOCTYPE html>
<html>
  <head>
    <title>Flipsum</title>
    <%= stylesheet_link_tag    "issue/application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "issue/application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width,
                               maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  </head>
  <body>

    <%= yield %>

  </body>
</html>
