<!DOCTYPE html>
<html>
  <head>
    <title>Flipsum</title>
    <%= stylesheet_link_tag    "issue/application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "issue/application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
