<!DOCTYPE html>
<html>
  <head>
    <title><%= @organisation.name %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width,
                               maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  </head>
  <body class="kiosk">

    <%= yield %>

  <%= render "analytics" %>
  </body>
</html>
