<!DOCTYPE html>
<html>
<head>
  <title>Page Editor</title>
  <%= stylesheet_link_tag    "page_editor", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="page_editor">

  <section class="page_index">

    <%= link_to issues_path, class: 'nav_item' do %>
      <i class="icon-angle-left icon-large"></i> Close editor
    <% end %>
    <%= link_to issue_pages_path(@issue), class: 'nav_item' do %>
      <i class="icon-cog"></i> Settings
    <% end %>

    <div style="overflow: scroll; height: 100%;">

      <div id="pages">

      <% @pages.each_with_index do |page, number| %>
        <%= link_to edit_issue_page_path(@issue, page), id: "page-#{page.id}", class: "page #{"active" if @page == page}" do %>
          <%= number + 1 %>
        <% end %>
      <% end %>

      </div>

      <script type="text/javascript">
        $('#pages').sortable({axis: "y", items: '> a', update: function() {
          order = $('#pages').sortable('serialize');
          console.log(order)
          $.post('<%= sort_issue_pages_path(@issue) %>', order)
        } });
      </script>

      <%= link_to issue_pages_path(@issue), class: 'new page', method: :create do %>
        <i class="icon-plus-sign" %></i>
      <% end %>

    </div>
  </section>

  <%= yield %>

</body>
</html>
