<!DOCTYPE html>
<html>
<head>
  <title>Page Editor</title>
  <%= stylesheet_link_tag    "page_editor", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="page_editor">

  <section class="page_index">
    <% @pages.each_with_index do |page, number| %>
      <%= link_to edit_issue_page_path(@issue, page), class: 'page' do %>
        <%= number %>
      <% end %>
    <% end %>

    <%= link_to issue_pages_path(@issue), class: 'new page', method: :create do %>
      <i class="icon-plus-sign" %></i>
    <% end %>
  </section>

  <%= yield %>

</body>
</html>
